.container {
  width: 950px;
  height: 500px;
}
.canvas {
  width: 480px;
  display: inline-block;
  float: left;
}
.rank {
  height: 60px;
}
.score {
  height: 100%;
  width: 250px;
  display: inline-block;
  float: left;
}
.score .opponent, .score .player {
  height: 50%;
}
.record {
  display: inline-block;
  float: left;
  height: 100%;
  width: 110px;
}
.record.black {
  background-color: #fff;
}
.clearfix {
  clear: both;
}
.square {
  width: 60px;
  height: 60px;
  margin:0;
  border:0;
  background: #efefef;
  display: inline-block;
  text-align: center;
}

.square.selected {
  background: #ffff99;
}
.square.available.white {
  background: #ffffe6;
}
.square.available.black {
  background: #ffffcc;
}
.checked > .piece{
  border: 1px red solid;
  box-sizing: border-box;
}

.black {
  background: #cfcfcf;
}

.piece {
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url(https://res.cloudinary.com/dlfyrrh6y/image/upload/v1542253555/chess.png) 0 0;
}

.Q {  background-position: 0px 0px; }
.Q.white { background-position: 0 -60px }
.K {  background-position: -60px 0px; }
.K.white {  background-position: -60px -60px; }
.R {  background-position: -120px 0px; }
.R.white {  background-position: -120px -60px; }
.N {  background-position: -180px 0px; }
.N.white {  background-position: -180px -60px; }
.B {  background-position: -240px 0px; }
.B.white {  background-position: -240px -60px; }
.P {  background-position: -300px 0px; }
.P.white {  background-position: -300px -60px; }

#side-white { background-color: #fff; color: #000; }
#side-black { background-color: #000; color: #fff; }

.setup {
  display: none;
}